<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

<!--    <test name="FilterTest">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="filterTest"/>-->
<!--                <include name="regression"/>-->

<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="swagLab.tests.PriceTestByASC"/>-->
<!--            <class name="swagLab.tests.LoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->


<!--        <test name="testPriceSortByASC">-->
<!--            <classes>-->
<!--                <class name="swagLab.tests.PriceTestByASC"/>-->
<!--            </classes>-->
<!--        </test>-->


<!--    <test name="testPriceSortByDESC">-->
<!--        <classes>-->
<!--            <class name="swagLab.tests.PriceTestByDESC"/>-->
<!--        </classes>-->
<!--    </test>-->


    <test name="loginTest">
        <classes>
            <class name="swagLab.tests.LoginTest"/>
        </classes>
    </test>


</suite>
