<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">


        <test name="priceSortByASC">
            <classes>
                <class name="swagLab.tests.PriceTestByASC"/>
            </classes>
        </test>


    <test name="priceSortByDESC">
        <classes>
            <class name="swagLab.tests.PriceTestByDESC"/>
        </classes>
    </test>


    <test name="loginTest">
        <classes>
            <class name="swagLab.tests.LoginTest"/>
        </classes>
    </test>


    <test name="addToCartTest">
        <classes>
            <class name="swagLab.tests.BasketTest"/>
        </classes>
    </test>


</suite>
